@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");
html {
  font-family: 'Commissioner', sans-serif; }

header {
  background: url(/images/image-hero-desktop.jpg);
  background-size: cover;
  height: 360px;
  /* hide close when burger shown */ }
  header .navbar-toggler.collapsed .close-icon {
    display: none; }
  header .navbar-toggler:not(.collapsed) .open-icon {
    display: none; }
  header .navbar-toggler,
  header .navbar-toggler:focus,
  header .navbar-toggler:active,
  header .navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: none; }
  header .navbar-collapse {
    padding-top: 2rem;
    border-radius: 40px; }
  header .nav-item {
    background: #ffff;
    text-align: center;
    padding: 12px; }

main {
  background: #fafafa; }
  main .top-section {
    position: relative;
    width: 15rem;
    height: 17rem;
    margin: 0 auto;
    background: #ffff;
    bottom: 4.5rem;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    main .top-section .logomastercraft {
      position: absolute;
      margin: 0 auto;
      top: -30px; }
    main .top-section h1 {
      font-size: 1.5rem;
      text-align: center;
      color: black;
      padding-top: 3rem;
      font-weight: bold; }
    main .top-section h2 {
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      color: #7a7a7a; }
    main .top-section .button1 {
      align-self: flex-end;
      text-decoration: none;
      background: #3cb4ac;
      color: #ffff;
      padding: 10px;
      border-radius: 30px;
      font-weight: 500; }
      main .top-section .button1:hover {
        background: #147b74;
        transition: 1s; }
    main .top-section .bookmark {
      align-self: flex-end;
      text-decoration: none;
      background: #3cb4ac;
      color: #ffff;
      padding: 10px;
      border-radius: 30px; }
  main .middle-section {
    width: 40rem;
    height: 10rem;
    margin: 0 auto;
    background: #ffff;
    border-radius: 10px; }
  main .bottom-section {
    width: 40rem;
    height: 30rem;
    margin: 0 auto;
    background: #ffff;
    border-radius: 10px;
    margin-top: 45px; }
