@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");
:root {
  font-family: 'Commissioner', sans-serif; }

html {
  background: #fafafa; }

.modal-content {
  border-radius: 15px; }
  .modal-content .modal-header {
    border: none; }
    .modal-content .modal-header .modal-title {
      font-size: 1.5rem;
      font-weight: bold; }
  .modal-content .modal-body {
    display: flex;
    flex-direction: column; }
    .modal-content .modal-body .div__container--modal {
      border: 1px solid #e0e0e0;
      margin-top: 30px;
      border-radius: 10px;
      padding: 2rem; }
      .modal-content .modal-body .div__container--modal .div__header--modal {
        display: flex; }

#modal-check .modal-header {
  display: flex;
  flex-direction: column;
  align-items: center; }
  #modal-check .modal-header img, #modal-check .modal-header h2 {
    margin: 20px; }

#modal-check .modal-body p {
  text-align: center;
  color: #7a7a7a; }

#modal-check .modal-footer {
  border: none;
  display: flex;
  justify-content: center; }
  #modal-check .modal-footer button {
    text-decoration: none;
    background: #3cb4ac;
    color: #ffff;
    padding: 12px;
    border-radius: 30px;
    font-weight: 500;
    border: none;
    padding-right: 2rem;
    padding-left: 2rem; }

header {
  background: url(/images/image-hero-desktop.jpg);
  background-size: cover;
  height: 360px;
  /* hide close when burger shown */ }
  header .close-icon {
    display: none; }
  header .navbar-toggler:not(.collapsed) .open-icon {
    display: block; }
  header .navbar-toggler:not(.collapsed) .close-icon {
    display: none; }
  header .navbar-toggler,
  header .navbar-toggler:focus,
  header .navbar-toggler:active,
  header .navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: none; }
  header .navbar-collapse {
    padding-top: 2rem;
    border-radius: 40px; }
  header .nav-item {
    background: #ffff;
    text-align: start;
    padding: 12px;
    font-weight: bold; }
  header .nav-radius-top {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom: 1px solid #7a7a7a; }
  header .nav-radius-bot {
    border-top: 1px solid #7a7a7a;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px; }

main {
  background: #fafafa; }
  main .top-section {
    position: relative;
    width: 19rem;
    height: 17rem;
    margin: 0 auto;
    background: #ffff;
    bottom: 4.5rem;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 2rem;
    padding-top: 2rem; }
    main .top-section .logomastercraft {
      position: absolute;
      margin: 0 auto;
      top: -30px; }
    main .top-section h1 {
      font-size: 1.5rem;
      text-align: center;
      color: black;
      font-weight: bold; }
    main .top-section h2 {
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      color: #7a7a7a; }
    main .top-section .button1 {
      align-self: flex-end;
      text-decoration: none;
      background: #3cb4ac;
      color: #ffff;
      padding: 10px;
      border-radius: 30px;
      font-weight: 500;
      border: none; }
      main .top-section .button1:hover {
        background: #147b74;
        transition: 1s; }
      main .top-section .button1 a {
        text-decoration: none;
        color: #ffff;
        padding-right: 2rem;
        padding-left: 2rem; }
    main .top-section .bookmark {
      align-self: flex-end;
      /*text-decoration: none;
            background: $Moderatecyan;*/
      width: 3.5rem;
      margin-left: 10px;
      border: none;
      background: none; }
      main .top-section .bookmark label {
        visibility: hidden; }
  main .middle-section {
    width: 19rem;
    height: 24rem;
    margin: 0 auto;
    background: #ffff;
    border-radius: 10px;
    position: relative;
    bottom: 2rem; }
    main .middle-section h2 {
      text-align: center;
      font-weight: 700;
      padding-top: 1rem; }
    main .middle-section p {
      text-align: center;
      color: #7a7a7a; }
    main .middle-section hr {
      border: 1px solid #7a7a7a;
      width: 30%;
      margin: 0 auto; }
    main .middle-section .progress-bar {
      height: 1rem;
      margin-top: 3rem;
      width: 70%;
      background: #ededed;
      border-radius: 25px;
      overflow: hidden;
      margin: 0 auto;
      margin-top: 3rem; }
      main .middle-section .progress-bar .progress {
        height: 100%;
        border-radius: 25px;
        width: 90%;
        background: #3cb4ac; }
  main .bottom-section {
    width: 19rem;
    height: 113rem;
    margin: 0 auto;
    background: #ffff;
    border-radius: 10px;
    margin-top: 45px;
    position: relative;
    bottom: 2rem;
    padding: 15px; }
    main .bottom-section h3 {
      font-size: 1.3rem;
      font-weight: 700;
      margin-top: 20px;
      margin-bottom: 20px;
      color: black; }
    main .bottom-section p {
      color: #7a7a7a; }
    main .bottom-section div {
      border: 1px solid #e0e0e0;
      margin-top: 30px;
      border-radius: 10px;
      padding: 2rem; }
      main .bottom-section div h4 {
        font-weight: bold; }
      main .bottom-section div h5 {
        font-weight: 400;
        color: #3cb4ac;
        font-size: 1rem;
        margin-bottom: 1.5rem; }
      main .bottom-section div span {
        font-size: 2rem;
        font-weight: 700;
        color: black;
        margin-right: 8px; }
      main .bottom-section div button {
        display: block;
        text-decoration: none;
        background: #3cb4ac;
        color: #ffff;
        padding: 12px;
        border-radius: 30px;
        font-weight: 500;
        border: none; }
        main .bottom-section div button a {
          text-decoration: none;
          color: #ffff;
          padding-right: 12px;
          padding-left: 12px; }
      main .bottom-section div .btn-out {
        background: #e0e0e0; }

@media (min-width: 768px) {
  .nav-item {
    background: transparent !important;
    border: none !important; }
    .nav-item .nav-link {
      color: white !important;
      font-weight: 500;
      font-size: 1.2rem; }
  main .top-section {
    display: flex;
    width: 44rem;
    height: 20rem;
    padding: 48px; }
    main .top-section .button1 {
      padding: 16px; }
    main .top-section .bookmark {
      display: flex;
      align-items: center;
      flex-grow: 1;
      justify-content: flex-end; }
      main .top-section .bookmark label {
        visibility: visible;
        order: 1; }
  main .middle-section {
    width: 44rem;
    height: 20rem;
    padding: 40px;
    display: flex;
    flex-wrap: wrap; }
    main .middle-section .middle__div {
      padding-right: 50px;
      padding-left: 50px;
      border-left: 1px solid #7a7a7a; }
    main .middle-section .noborder {
      border: none; }
    main .middle-section .progress-bar {
      height: 1rem;
      margin-top: 3rem;
      width: 40rem;
      background: #ededed;
      border-radius: 25px;
      overflow: hidden; }
      main .middle-section .progress-bar .progress {
        height: 100%;
        border-radius: 25px;
        width: 90%;
        background: #3cb4ac; }
    main .middle-section hr {
      display: none; }
  main .bottom-section {
    width: 44rem;
    height: 87rem;
    padding: 40px; } }
