@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

:root {
--black: hsl(0, 0%, 0%);
--darkgray: hsl(0, 0%, 48%);
--lightgray: hsl(0, 0%, 98%)
}

html {
    font-family: 'Commissioner', sans-serif;
}
h1, h2 {
    font-size: 1.4rem;
}
header {
    background: url(/images/image-hero-desktop.jpg) no-repeat;
    background-size: cover;
    height: 400px;
}
main {
    background: var(--lightgray);
}
.container-nav {
    display: flex;
    justify-content: space-between;
}

.nav-item .nav-link {
    color: white;
}

.top-section {
    width: 20rem;
    height: 100px;
    margin: 0 auto;
    padding-bottom: 25rem;
    background: #ffff;
}