@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

$black: hsl(0, 0%, 0%);
$darkgray: hsl(0, 0%, 48%);
$lightgray: hsl(0, 0%, 98%);
$gray88: hsl(0, 0%, 88%);
$Darkcyan: hsl(176, 72%, 28%);
$Moderatecyan: hsl(176, 50%, 47%);

:root {
    font-family: 'Commissioner', sans-serif;
}

html {
    background: $lightgray;
}

// media query
@mixin media($size) {
    @media (min-width: $size) {
      @content;
    }
  }

.button1 {
  text-decoration: none;
  background: $Moderatecyan;
  color: #ffff;
  padding: 10px;
  border-radius: 30px;
  font-weight: 500;
  border: none;
}