.modal-content {
    border-radius: 15px;
    width: 20rem;
    margin: 0 auto;
    .modal-header {
        border: none;
        .modal-title {
            font-size: 1.5rem;
            font-weight: bold;
        }
    }
    .modal-body {
        display: flex;
        flex-direction: column;
        p {
            color: $darkgray;
        }
        .modal--section {
            border: 1px solid $Moderatecyan;
            margin-top: 30px;
            border-radius: 10px;
            padding: 0;
            p {
                text-align: center;
            }
            div[aria-expanded=true] .tituloModal {
                color: $Moderatecyan;
            }
            .modal--show {
                display: flex;
                flex-direction: column;
                .tituloModal {
                    font-weight: bold;
                }
            }
            .modal--collapse.show {
                width: 100%;
                padding: 2px;
                border-top: 1px solid $Moderatecyan;
                .card-body {
                    padding: 10px;
                    border: none !important;
                    div {
                        display: flex;
                        padding: 10px;
                    }
                }
            }
        }
    }
}

#modal-check {
    .modal-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        img, h2 {
            margin: 20px;
        }
    }
    .modal-body {
        p {
            text-align: center;
            color: $darkgray;
        }
    }
    .modal-footer {
        border: none;
        display: flex;
        justify-content: center;
        button {
            text-decoration: none;
            background: $Moderatecyan;
            color: #ffff;
            padding: 12px;
            border-radius: 30px;
            font-weight: 500;
            border: none;
            padding-right: 2rem;
            padding-left: 2rem;
        }
    }
}

.circle {
    width: 1.2rem;
    height: 1.2rem;
    border: 1px solid $Moderatecyan;
    border-radius: 50%;
    background: white;
}
