@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

$black: hsl(0, 0%, 0%);
$darkgray: hsl(0, 0%, 48%);
$lightgray: hsl(0, 0%, 98%);
$Darkcyan: hsl(176, 72%, 28%);
$Moderatecyan: hsl(176, 50%, 47%);

html {
    font-family: 'Commissioner', sans-serif;
}
header {
    background: url(/images/image-hero-desktop.jpg) no-repeat;
    background-size: cover;
    height: 400px;
    .container-nav {
        display: flex;
        justify-content: space-between;
    }
}
main {
    background: $lightgray;
    .top-section {
        position: relative;
        width: 40rem;
        height: 17rem;
        margin: 0 auto;
        background: #ffff;
        bottom: 3rem;
        border-radius: 10px;
        h1 {
            font-size: 1.5rem;
            text-align: center;
            color: $black;
            padding-top: 2rem;
        }
        h2 {
            font-size: 1.1rem;
            text-align: center;
            color: $darkgray;
        }
    }
    .middle-section {
        width: 40rem;
        height: 10rem;
        margin: 0 auto;
        background: #ffff;
        border-radius: 10px;
    }   
}