@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

$black: hsl(0, 0%, 0%);
$darkgray: hsl(0, 0%, 48%);
$lightgray: hsl(0, 0%, 98%);
$gray88: hsl(0, 0%, 88%);
$Darkcyan: hsl(176, 72%, 28%);
$Moderatecyan: hsl(176, 50%, 47%);
:root {
    font-family: 'Commissioner', sans-serif;
}
html {
    background: $lightgray;
}
header {
    background: url(/images/image-hero-desktop.jpg);
    background-size: cover;
    height: 360px;
       /* hide close when burger shown */
    .close-icon {
        display: none;
    }
     .navbar-toggler:not(.collapsed) .open-icon {
        display: none;
     }
     .navbar-toggler:not(.collapsed) .close-icon {
        display: block;
     }
    .navbar-toggler,
    .navbar-toggler:focus,
    .navbar-toggler:active,
    .navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: none;
    }
    .navbar-collapse {
        padding-top: 2rem;
        border-radius: 40px;
    }
    .nav-item {
    background: #ffff;
    text-align: center;
    padding: 12px;
    }
}
main {
    background: $lightgray;
    .top-section {
        position: relative;
        width: 19rem;
        height: 17rem;
        margin: 0 auto;
        background: #ffff;
        bottom: 4.5rem;
        border-radius: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 2rem;
        padding-top: 2rem;
        .logomastercraft {
            position: absolute;
            margin: 0 auto;
            top: -30px;
        }
        h1 {
            font-size: 1.5rem;
            text-align: center;
            color: $black;
            font-weight: bold;
        }
        h2 {
            font-size: 16px;
            font-weight: 400;
            text-align: center;
            color: $darkgray;
        }
        .button1 {
            align-self: flex-end;
            text-decoration: none;
            background: $Moderatecyan;
            color: #ffff;
            padding: 10px;
            border-radius: 30px;
            font-weight: 500;
            border: none;
            &:hover {
                background: $Darkcyan;
                transition: 1s;
            }
            a {
                text-decoration: none;
                color: #ffff;
                padding-right: 2rem;
                padding-left: 2rem;
            }
        }
        .bookmark {
            align-self: flex-end;
            /*text-decoration: none;
            background: $Moderatecyan;*/
            width: 3.5rem;
            margin-left: 10px;
            border: none;
            background: none;
            label {
                display: none;
            }
        }
    }
    .middle-section {
        width: 19rem;
        height: 24rem;
        margin: 0 auto;
        background: #ffff;
        border-radius: 10px;
        position: relative;
        bottom: 2rem;
        h2 {
            text-align: center;
            font-weight: 700;
            padding-top: 1rem;
        }
        p {
            text-align: center;
            color: $darkgray;
        }
        hr {
            border: 1px solid $darkgray;
            width: 30%;
            margin: 0 auto;
        }
    }   
    .bottom-section {
        width: 19rem;
        height: 111rem;
        margin: 0 auto;
        background: #ffff;
        border-radius: 10px;
        margin-top: 45px;
        position: relative;
        bottom: 2rem;
        padding: 15px;
        h3 {
            font-size: 1.3rem;
            font-weight: 700;
            margin-top: 20px;
            margin-bottom: 20px;
            color: $black;
        }
        p {
            color: $darkgray;
        }
        div {
            border: 1px solid $gray88;
            margin-top: 30px;
            border-radius: 10px;
            padding: 2rem;
            h4 {
                font-weight: bold;
            }
            h5 {
                font-weight: 400;
                color: $Moderatecyan;
                font-size: 1rem;
                margin-bottom: 1.5rem;
            }
            span {
                font-size: 2rem;
                font-weight: 700;
                color: $black;
                margin-right: 8px;
            }
            button {
                display: block;
                text-decoration: none;
                background: $Moderatecyan;
                color: #ffff;
                padding: 12px;
                border-radius: 30px;
                font-weight: 500;
                border: none;
                a {
                text-decoration: none;
                color: #ffff;
                padding-right: 12px;
                padding-left: 12px;
                }
            }
            .out {
                background: $gray88;
            }
        }
    }
}
