@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

$black: hsl(0, 0%, 0%);
$darkgray: hsl(0, 0%, 48%);
$lightgray: hsl(0, 0%, 98%);
$Darkcyan: hsl(176, 72%, 28%);
$Moderatecyan: hsl(176, 50%, 47%);

html {
    font-family: 'Commissioner', sans-serif;
}
header {
    background: url(/images/image-hero-desktop.jpg);
    background-size: cover;
    height: 360px;
       /* hide close when burger shown */
    .navbar-toggler.collapsed .close-icon {
        display: none;
     }
     .navbar-toggler:not(.collapsed) .open-icon {
        display: none;
     }
    .navbar-toggler,
    .navbar-toggler:focus,
    .navbar-toggler:active,
    .navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: none;
    }
    .navbar-collapse {
        padding-top: 2rem;
        border-radius: 40px;
    }
    .nav-item {
    background: #ffff;
    text-align: center;
    padding: 12px;
    }
}
main {
    background: $lightgray;
    .top-section {
        position: relative;
        width: 15rem;
        height: 17rem;
        margin: 0 auto;
        background: #ffff;
        bottom: 4.5rem;
        border-radius: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .logomastercraft {
            position: absolute;
            margin: 0 auto;
            top: -30px;
        }
        h1 {
            font-size: 1.5rem;
            text-align: center;
            color: $black;
            padding-top: 3rem;
            font-weight: bold;
        }
        h2 {
            font-size: 16px;
            font-weight: 400;
            text-align: center;
            color: $darkgray;
        }
        .button1 {
            align-self: flex-end;
            text-decoration: none;
            background: $Moderatecyan;
            color: #ffff;
            padding: 10px;
            border-radius: 30px;
            font-weight: 500;
            &:hover {
                background: $Darkcyan;
                transition: 1s;
            }
        }
        .bookmark {
            align-self: flex-end;
            text-decoration: none;
            background: $Moderatecyan;
            color: #ffff;
            padding: 10px;
            border-radius: 30px;
        }
    }
    .middle-section {
        width: 40rem;
        height: 10rem;
        margin: 0 auto;
        background: #ffff;
        border-radius: 10px;
    }   
    .bottom-section {
        width: 40rem;
        height: 30rem;
        margin: 0 auto;
        background: #ffff;
        border-radius: 10px;
        margin-top: 45px;
    }
}
